<footer class="footer">
		<p class="text-muted">
			<div class="inner">
				<p>
					This project for
					<a>2015年毕业论文</a>
					, by
					<a>2011级计算机科学与技术2班束庆森 © Company 2015</a>
					.
				</p>
			</div>
		</p>
</footer>