<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet/signin.css">
</head>
<body>
<div class="container login_martop">


<h2 class="form-signin-heading">注册成功!请登录您的账户!</h2>

<h2 class="form-signin-heading"><a href="login" class="btn btn-lg btn-success">点击进入登录页面!</a></h2>


</div> 
</body>
</html>