  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">微机原理与接口技术</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">
                  <a href="main">主页</a>
                </li>
                <li>
                  <a href="main">课程</a>
                </li>
                <li>
                  <a href="login">登录</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">《微机原理与接口技术》课程学习网站</h1>
          <p class="titlepage">
              在这里你可以学习到以Intel 8086CPU为主线，系统讲述微型计算机系统的基本组成、工作原理、指令系统及汇编语言程序设计、半导体存储器技术、硬件接口技术、总线技术、PC的软件体系、PC应用系统设计举例，掌握微型计算机的原理和硬件接口技术，建立微型计算机系统的整体概念，并从PC应用系统的角度了解其软件体系和相关接口。
          <p class="lead">
            <a href="main" class="btn btn-lg btn-success">开始学习</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>
              This project for
              <a>2015年毕业论文</a>
              , by
              <a>2011级计算机科学与技术2班束庆森</a>
              .
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>